<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a website that allows users to create a to-do list. You can add and delete new items and also create new lists for different occasions</p>

<%- include("footer") -%>
